<!doctype html>
<html lang="en" class="no-js">

<head>
    <% include partial/head-html.ejs %>
</head>

<body>
    <!-- Container -->
    <div id="container">
    
        <% include partial/header.ejs %>


<!-- page-banner-section 
			================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <h2>Contact Us</h2>
                <ul class="page-depth">
                    <li><a href="/">BLOCK M.D.</a></li>
                    <li><a href="contactus">Contact us</a></li>
                </ul>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- contact section 
			================================================== -->
        <section class="contact-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-sm-6">
                        <div class="contact-info">
                            <h2>Contact Info</h2>
                            <p>Our support available to help you 24 hours a day, seven days a week.</p>
                            <ul class="information-list">
                                <li><i class="fa fa-map-marker"></i><span> Dream Office, CW Tower 14th Floor ,</span><span> Tower A 90 Ratchadapisek , Huai Khwang ,</span><span> Bangkok 10310, Thailand</span></li>
                                <li><i class="fa fa-phone"></i><span>+66-92-996-9546</span></li>
                                <li><i class="fa fa-envelope-o"></i><a href="#">hello@smartcontractthailand.com</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-6">
                        <form id="contact-form">
                            <h2>Send us a message</h2>
                            <input name="name" id="name" type="text" placeholder="Name">
                            <input name="mail" id="mail" type="text" placeholder="Email">
                            <textarea name="comment" id="comment" placeholder="Message"></textarea>
                            <input type="submit" id="submit_contact" value="Send Message">
                            <div id="msg" class="message"></div>
                        </form>
                    </div>
                </div>
            </div>
            <div id="map2"></div>
        </section>
        <!-- End contact section -->

        <!-- footer 
			================================================== -->
        <% include partial/footer.ejs %>
        
        <!-- End footer -->

        <!-- Start Button Scroll UP -->
        <div class="Scroll-up">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
        </div>
        <!-- End Button Scroll UP -->


    </div>
    <!-- End Container -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.migrate.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
    <!--
    <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
    -->
    <script type="text/javascript" src="js/plugins-scroll.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=false&key=AIzaSyAy8FgYAmoUjMHdnDozswN96ZU3dB5"></script>
    <script type="text/javascript" src="js/gmap3.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>
<!-- 
AIzaSyAy8FgYAmoUjMHdnDozswN96ZU3dB5-P5Y
-->

    <link rel="stylesheet" type="text/css" href="custom/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="custom/fonts/fonts.css" media="screen">



    <script>
        jQuery(document).on("ready", function() {
            const cls = '<%= cls %>';
            $(".ml").each(function(){
                var objML = $(this);
                if(objML.find('a').hasClass('active')){
                    objML.find('a').removeClass('active')
                }

                if(objML.find('a').hasClass(cls)){
                    objML.find('a').addClass('active')
                }
            });
        });
    </script>
</body>
</html>