<!doctype html>
<html lang="en" class="no-js">

<head>
    <% include partial/head-html.ejs %>
</head>

<body>
    
    <!-- Container -->
    <div id="container">
    
        <% include partial/header.ejs %>

        <!-- home-section 
			================================================== -->
        <section id="home-section" class="slider1">

            <!--
			#################################
				- THEMEPUNCH BANNER -
			#################################
			-->
            <div class="tp-banner-container">
                <div class="tp-banner">
                    <ul>
                        <!-- SLIDE  -->
                        <li data-transition="fade" data-slotamount="7" data-masterspeed="500" data-saveperformance="on" data-title="Intro Slide">
                            <!-- MAIN IMAGE -->
                            <img src="imgs/blockmd-banner.jpg" alt="slidebg1" data-lazyload="imgs/blockmd-banner.jpg" data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">
                            <!-- LAYERS -->

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption finewide_medium_white lft tp-resizeme rs-parallaxlevel-0" data-x="0" data-y="160" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;"
                                data-speed="1000" data-start="1200" data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;font-family: Prompt-Bold;font-size:24px;letter-spacing:1px;">Blockchain Revolutionizing Medical<br/> Records Interoperability
                            </div>

                            <!-- LAYER NR. 1 -->
                            <div class="tp-caption medium_thin_grey customin" data-x="0" data-y="290" data-customin="x:0;y:0;z:0;rotationX:0;rotationY:0;rotationZ:0;scaleX:0;scaleY:0;skewX:0;skewY:0;opacity:0;transformPerspective:600;transformOrigin:50% 50%;" data-speed="1000" data-start="1600"
                                data-easing="Power3.easeInOut" data-splitin="none" data-splitout="none" data-elementdelay="0.1" data-endelementdelay="0.1" style="z-home1: 8; max-width: auto; max-height: auto; white-space: nowrap;font-family: Prompt-Medium;font-size:16px;">Connecting EHR Without Compromising on Privacy
                            </div>


                        </li>
                        <!-- SLIDE  -->
                    </ul>
                    <div class="tp-bannertimer"></div>
                </div>
            </div>
        </section>
        <!-- End home section -->

        <!-- services
			================================================== -->
        <section class="services-home-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section whatisblockmd">
                            <h1>What is BlOCK M.D.?</h1>
                        </div>
                    </div>
                    <div class="col-md-12 col-sm-12">
                       <div class="description-section whatisblockmd">
                        <p>
                             Block M.D. is a healthcare platform built over the convenience and security of Distributed Ledger technology, allowing use blockchain technology creates unique opportunities to reduce complexity, enable trustless collaboration, and create secure and immutable information.
                        </p>
                       </div>
                       
                    </div>
                </div>
            </div>
        </section>
        <!-- End services -->

        <!-- features
			================================================== -->
        <section class="features-home-page">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="title-section">
                            <h1>THE SERVICES WE OFFER</h1>
                        </div>
                    </div>
                </div>

                

                <div class="row">


                    <div class="col-md-6 col-sm-6">
                        <div class="service-box service-offer one">
                            <h4><img src="images/healthcare.png" alt="feature-img" aria-hidden="true"></i> e-Refer</h4>
                            <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin lacinia.</p>
                        </div>

                        <div class="service-box service-offer">
                            <h4><img src="images/heartmedical.png" alt="feature-img" aria-hidden="true"></i> e-Claim</h4>
                            <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin sodales lacinia.</p>
                        </div>

                        <div class="service-box service-offer">
                            <h4><img src="images/nursehead.png" alt="feature-img" aria-hidden="true" /></i> PHR-EHR Integration</h4>
                            <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin volutpat euismod sodales lacinia.</p>
                        </div>

                        <div class="service-box service-offer">
                            <h4><img src="images/medicine.png" alt="feature-img" aria-hidden="true" /></i> Drug Inventory</h4>
                            <p>Vestibulum sodales ante a purus volutpat euismod. Proin sodales quam nec ante sollicitudin volutpat euismod sodales lacinia.</p>
                        </div>

                    </div>

                    <div class="col-md-6 col-sm-6">
                        <img src="imgs/OGFB4B0.jpg" alt="service-image" class="img-responsive service-images">

                    </div>


                    
                </div>
            </div>
        </section>
        <!-- End features -->

        <!-- news-section 
			================================================== -->
        <section class="news-section">
            <div class="container">
                <div class="title-section alt-title">
                    <h1>Latest News</h1>
                </div>
                <div class="news-box">
                    <div class="arrow-box">
                        <a href="#" class="prev"><i class="fa fa-angle-left"></i></a>
                        <a href="#" class="next"><i class="fa fa-angle-right"></i></a>
                    </div>

                    <div id="owl-demo" class="owl-carousel">
                        <div class="item news-post">
                            <img src="upload/blog/news1.jpg" alt="">
                            <h2><a href="single-post.html">FLATNIN' THE HILLS SOMEDAY THE MOUNTAIN </a></h2>
                            <ul class="post-tags">
                                <li>16 April ,</li>
                                <li><a href="#">Besim Dauti</a> ,</li>
                                <li><a href="#">Talented Doctors</a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="item news-post">
                            <img src="upload/blog/news2.jpg" alt="">
                            <h2><a href="single-post.html">YOU BET YOUR LIFE SPEED RACER HE WILL SEE IT</a></h2>
                            <ul class="post-tags">
                                <li>10 April ,</li>
                                <li><a href="#">Qendrim Sadiku</a> ,</li>
                                <li><a href="#">Intesive Treatments</a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="item news-post">
                            <img src="upload/blog/news3.jpg" alt="">
                            <h2><a href="single-post.html">ON YOUR MARK GET SET AND GO NOW GOT IT</a></h2>
                            <ul class="post-tags">
                                <li>31 March ,</li>
                                <li><a href="#">Kenan Mazhiqi</a> ,</li>
                                <li><a href="#">Cancer Cure</a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                        <div class="item news-post">
                            <img src="upload/blog/news4.jpg" alt="">
                            <h2><a href="single-post.html">YOU BET YOUR LIFE SPEED RACER HE WILL SEE IT</a></h2>
                            <ul class="post-tags">
                                <li>31 March ,</li>
                                <li><a href="#">Kenan Mazhiqi</a> ,</li>
                                <li><a href="#">Surgical Center</a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                        </div>
                        <div class="item news-post">
                            <img src="upload/blog/news5.jpg" alt="">
                            <h2><a href="single-post.html">ON YOUR MARK GET SET AND GO NOW GOT IT </a></h2>
                            <ul class="post-tags">
                                <li>31 March ,</li>
                                <li><a href="#">Kenan Mazhiqi</a> ,</li>
                                <li><a href="#">Emergency Care</a></li>
                            </ul>
                            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry</p>
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <!-- End news section -->



        <!-- footer 
			================================================== -->
        <% include partial/footer.ejs %>
        
        <!-- End footer -->

        <!-- Start Button Scroll UP -->
        <div class="Scroll-up">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
        </div>
        <!-- End Button Scroll UP -->


    </div>
    <!-- End Container -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.migrate.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!--
    <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
    -->
    <script type="text/javascript" src="js/plugins-scroll.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>

    <!-- Revolution slider -->
    <script type="text/javascript">
        jQuery(document).on("ready", function() {

            jQuery('.tp-banner').show().revolution({
                dottedOverlay: "none",
                delay: 10000,
                startwidth: 1140,
                startheight: 550,
                hideThumbs: 200,

                thumbWidth: 100,
                thumbHeight: 50,
                thumbAmount: 5,

                navigationType: "bullet",

                touchenabled: "on",
                onHoverStop: "off",

                swipe_velocity: 0.7,
                swipe_min_touches: 1,
                swipe_max_touches: 1,
                drag_block_vertical: false,

                parallax: "mouse",
                parallaxBgFreeze: "on",
                parallaxLevels: [7, 4, 3, 2, 5, 4, 3, 2, 1, 0],

                keyboardNavigation: "off",

                navigationHAlign: "center",
                navigationVAlign: "bottom",
                navigationHOffset: 0,
                navigationVOffset: "center",

                shadow: 0,

                spinner: "spinner4",

                stopLoop: "off",
                stopAfterLoops: -1,
                stopAtSlide: -1,

                shuffle: "off",

                autoHeight: "off",
                forceFullWidth: "off",



                hideThumbsOnMobile: "off",
                hideNavDelayOnMobile: 1500,
                hideBulletsOnMobile: "off",
                hideArrowsOnMobile: "off",
                hideThumbsUnderResolution: 0,

                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                startWithSlide: 0,
                fullScreenOffsetContainer: ".header"
            });

        }); //ready

        //isotope
        jQuery(document).on("ready", function() {
            var $container = $('.iso-call');
            // init
            $container.isotope({
                // options
                itemSelector: '.services-project, .gallery-post',
                masonry: {
                    columnWidth: '.default-size'
                }
            });
        }); //ready

        jQuery(document).on("ready", function() {
            const cls = '<%= cls %>';
            $(".ml").each(function(){
                var objML = $(this);
                if(objML.find('a').hasClass('active')){
                    objML.find('a').removeClass('active')
                }

                if(objML.find('a').hasClass(cls)){
                    objML.find('a').addClass('active')
                }
            });
        });
    </script>

    <link rel="stylesheet" type="text/css" href="custom/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="custom/fonts/fonts.css" media="screen">
</body>

</html>