<!doctype html>
<html lang="en" class="no-js">

<head>
    <% include partial/head-html.ejs %>
</head>

<body>
    <!-- Container -->
    <div id="container">
    
        <% include partial/header.ejs %>


<!-- page-banner-section 
			================================================== -->
        <section class="page-banner-section">
            <div class="container">
                <h2>News and Update</h2>
                <ul class="page-depth">
                    <li><a href="/">BLOCK M.D.</a></li>
                    <li><a href="news">News and Update</a></li>
                </ul>
            </div>
        </section>
        <!-- End page-banner section -->

        <!-- blog section 
			================================================== -->
        <section class="blog-section">
            <div class="container">
                <div class="blog-box">

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news1.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Cancer Care</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news2.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Intensive Care</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>

                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news3.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Talented Care</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news4.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Blood </a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news5.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Cancer Care</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news6.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Talented Doctors</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>

                        <div class="clearfix visible-sm-block"></div>

                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news1.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Cancer Care</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-6">
                            <div class="blog-post">
                                <img src="upload/blog/news2.jpg" alt="">
                                <h2><a href="#">YOU BET YOUR LIFE SPEED RACER</a></h2>
                                <ul class="post-tags">
                                    <li>16 April ,</li>
                                    <li><a href="#">Besim Dauti</a> ,</li>
                                    <li><a href="#">Blood Center</a></li>
                                </ul>
                                <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            </div>
                        </div>
                    </div>

                    <ul class="pagination-list">
                        <li><a href="#" class="prev-pag">prev</a></li>
                        <li><a href="#" class="active">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#" class="next-pag">next</a></li>
                    </ul>

                </div>

            </div>
        </section>
        <!-- End blog section -->

        <!-- footer 
			================================================== -->
        <% include partial/footer.ejs %>
        
        <!-- End footer -->

        <!-- Start Button Scroll UP -->
        <div class="Scroll-up">
            <i class="fa fa-stethoscope" aria-hidden="true"></i>
        </div>
        <!-- End Button Scroll UP -->


    </div>
    <!-- End Container -->

    <script type="text/javascript" src="js/jquery.min.js"></script>
    <script type="text/javascript" src="js/jquery.migrate.js"></script>
    <script type="text/javascript" src="js/jquery.bxslider.min.js"></script>
    <script type="text/javascript" src="js/jquery.magnific-popup.min.js"></script>
    <script type="text/javascript" src="js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="js/bootstrap.min.js"></script>
    <script type="text/javascript" src="js/jquery.imagesloaded.min.js"></script>
    <script type="text/javascript" src="js/jquery.isotope.min.js"></script>
    <!--
    <script type="text/javascript" src="js/retina-1.1.0.min.js"></script>
    -->
    <script type="text/javascript" src="js/plugins-scroll.js"></script>
    <!-- SLIDER REVOLUTION 4.x SCRIPTS  -->
    <script type="text/javascript" src="js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="js/script.js"></script>


    <link rel="stylesheet" type="text/css" href="custom/css/style.css" media="screen">
    <link rel="stylesheet" type="text/css" href="custom/fonts/fonts.css" media="screen">


    <script>
        jQuery(document).on("ready", function() {
            const cls = '<%= cls %>';
            $(".ml").each(function(){
                var objML = $(this);
                if(objML.find('a').hasClass('active')){
                    objML.find('a').removeClass('active')
                }

                if(objML.find('a').hasClass(cls)){
                    objML.find('a').addClass('active')
                }
            });
        });
    </script>
</body>
</html>