<footer>
    <div class="up-footer">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-5">
                    <div class="about">
                        <h2>BLOCK M.D.</h2>
                        <p>Block M.D. is a healthcare platform built over the <br/>convenience and security of Distributed Ledger technology</p>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="company">
                        <h2>QUICK LINKS</h2>
                        <ul class="list-unstyled">
                            <li><a href="/">Home</a></li>
                            <li><a href="aboutus">About us</a></li>
                            <li><a href="product">Product</a></li>
                        </ul>
                        <ul class="list-unstyled">
                            <li><a href="news">News and Update</a></li>
                            <li><a href="career">Career</a></li>
                            <li><a href="contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3">
                    <div class="office">
                        <h2>CONTACT DETAILS</h2>
                        <ul class="list-unstyled">
                            <li>
                                <span><i class="fa fa-map-marker"></i></span>
                                <span> Dream Office, CW Tower 14th Floor ,</span><span> Tower A 90 Ratchadapisek , Huai Khwang ,</span><span> Bangkok 10310, Thailand</span>
                            </li>
                            <li>
                                <span><i class="fa fa-phone"></i></span>
                                <span>+66-92-996-9546</span>
                            </li>
                            <li>
                                <span><i class="fa fa-envelope"></i></span>
                                <span>hello@smartcontractthailand.com </span>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">
        Block M.D. &copy; Copyright 2017. All rights reserved.
    </p>
</footer>